* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?auto=format&fit=crop&q=80&w=870&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white;
}

.Ydatatable {
  max-width: 905px;
  margin: 50px auto;
  
  padding: 20px;
  border-radius: 10px;
}

.Ydatatable table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(22, 22, 22); /* Gray background for the table */
}

.Ydatatable table td,
.Ydatatable table th {
  padding: 10px 15px;
  border: 1px solid black;
  text-align: left;
  font-size: 16px;
}

/* To resize the icons to 50px by 50px */
.Ydatatable table td img {
  width: 150px;
  height: 100px;
}

.Ydatatable table tr:nth-child(even) {
  background-color: #464646; /* Light background color for odd rows */
}